:root {
  background-color: #242424;
}

body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.unicorn-label > div {
  font-family: 'Comic Sans MS',
    cursive,
    sans-serif;
  background: radial-gradient(circle, rgb(100, 125, 248) 0%, rgb(255, 138, 236) 83%, rgb(254, 128, 153) 100%);
  padding: 10px;
  white-space: nowrap;
  border-radius: 10px;
  user-select: none;
  color: white;
  box-shadow: inset 5px 5px 15px 5px #FF8080,
    -9px 5px 15px 5px #FFE488,
    -7px -5px 15px 5px #8CFF85,
    12px -5px 15px 5px #80C7FF,
    12px 10px 15px 7px #E488FF,
    -10px 10px 15px 7px #FF616B,
    -10px -7px 27px 1px #8E5CFF,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}